.logoTitle{
  width: 30%;
  margin-left: 10px;
  
}

.parallax-container {
  height: 900px;
  background-position: 0% 0px !important;
  background-size: 100%;
}

.aboutIntro{
  color:white;
  text-align: justify;
  font-size: 30px;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-color: rgba(0, 0, 0, 0.226);
  padding: 15px;
  border-radius: 20px;
}

.logoDisplay{
  text-align: center;
}

.logo{
  width: 40%;
  margin: 20px auto;
}

.socialMedia{
  text-align: center;
}
.socialMediaLogo{
  width: 20%;
  
}

.sabinaAboutPicture{
  width: 100%;
  border-radius: 20px;
}

.socialMediaLogo2{
width: 10%;
}