body,
nav,
footer {
  background-color: #eed9c4 !important;
}

nav a,
footer {
  color: #a52a2a !important;
  font-weight: 700;
}

.brand-logo {
  font-family: "Clicker Script", cursive;
  width: fit-content;
}

.parallax-container {
  height: 700px;
}

.intro {
  width: 45%;
  margin-left: 10%;
  margin-top: 20%;
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px black;
}
.introSmall {
  
  margin: 10px;
  
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px black;
}

.space{
  margin-top: 10px;
}
.readMore {
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 25px;
  
}

.contactMe{
  font-family: "Clicker Script", cursive;
  font-size: 35px;
  
} 

.logoIndex {
  text-align: center !important;
}

.logoIndex img {
  width: 50%;
  margin: 50px auto;
}
.socialMedia {
  text-align: center;
}

.socialMedia img{
  width: 100px;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

.redish{
    color: #a52a2a;
}
/* --------------About Page-------------------- */

.aboutMe {
  margin-top: 0;
  margin-bottom: 0;
}
.aboutIntro2 {
  
  text-align: justify;
  line-height: 48px ;
  font-size: 34px;

  padding: 15px;
  border-radius: 20px;
}

.aboutIntro2small {
  
  text-align: justify;
  line-height: 28px ;
  font-size: 24px;

  padding: 15px;
  border-radius: 20px;
}

.sabinaAboutPicture {
  width: 50%;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 10px;
  
}

.sabinaAboutPictureWide {
  width: 100%;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 10px;
  
}
.natanLeft {
  text-align: center;
}

.natanPicture {
  border-radius: 20px;
  width: 250px;
  margin: 0 auto;
}

.natanGallery {
  text-align: center;
  max-width: 100%;
  
}

.natanWork {
  max-width: 100%;
  height: 220px;
  border-radius: 20px;
  margin: 10px auto;
}

.natanLink{
    text-align: center;
}

.row{
  height: 100%;
}

/* --------------Portfolio Page-------------------- */

.catMenu{
    text-align: center;
}

.button{
    background-color: #a52a2a;
    margin: 10px;
    padding: 10px; 
    border-radius: 10px;
    cursor: pointer;
    width: 138px;
    border: none;
    color: #eed9c4;
}

.button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}

.button:focus{
    background-color: #c92626;
}

.thumbnail{
    /* border: 5px solid red; */
    border-radius: 50px;
    margin-top: 20px;

}

.modal{
    height: 100vh !important;
    background-color: #eed9c4;
    text-align: center;
    /* overflow: hidden; */
}

.fullSize{
    max-width: 100%;
    max-height: 68vh;
}

/* ----------------PlaceHolder---------------- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a52a2a;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a52a2a;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #a52a2a;
}

